In [2]:
import pandas as pd

In [3]:
crimes = pd.read_csv('../data/crimes.csv', low_memory=False)

In [4]:
crimes.shape

(7643707, 22)

In [11]:
crimes.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7643707 entries, 0 to 7643706
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

In [12]:
# read slim 2022 crimes csv data
crimes_df = pd.read_csv('../data/crimes-2022-slim.csv.zip',
  parse_dates=['Date'],
  cache_dates=True,
  low_memory=False)

In [13]:
crimes_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201432 entries, 0 to 201431
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  201432 non-null  datetime64[ns]
 1   Block                 201432 non-null  object
 2   Primary Type          201432 non-null  object
 3   Description           201432 non-null  object
 4   Location Description  200857 non-null  object
 5   Arrest                201432 non-null  bool
 6   Domestic              201432 non-null  bool
 7   Beat                  201432 non-null  int64
 8   District              201432 non-null  int64
 9   Ward                  201422 non-null  float64
 10  Community Area        201432 non-null  int64
 11  Latitude              200034 non-null  float64
 12  Longitude             200034 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 17.3+ MB

In [20]:
# get crime types
crime_types = crimes[['Primary Type']]

# get crime counts by primary type
crime_type_total = crime_types.groupby('Primary Type').size()

# get arrests and domestic counts for each primary crime type
crime_type_counts = crimes[['Primary Type', 'Arrest', 'Domestic']]\
    .groupby('Primary Type').sum()

# add crime type totals column
crime_type_counts['Total'] = crime_type_total

# print all crime stats (arrests, domestic, and totals)
crime_type_counts.sort_values(by='Total', ascending=False).style